<div id="container" class="gradiente">
    <ion-card class="ion-justify-content-center card-cargando" style="border-radius: 25px">
      <ion-card-content style="margin-top: 5%">
        <ion-img class="img-logo-cargando" src="../../assets/imgs/cargando.gif"></ion-img>
      </ion-card-content>
<!--        <ion-card-content>-->
<!--            <br><br>-->
<!--            <ion-img style="height: 80px" src="../../assets/imgs/Capture.PNG"></ion-img>-->
<!--        </ion-card-content>-->
    </ion-card>
  </div>

