<div id="container" class="gradiente titi outer">
  <h1>Hola!</h1>
  <p>Mientras nos tomamos el tiempo necesario<br>para el <b>distanciamiento social</b>, te
  invitamos<br>a un <b>recorrido virtual 360°</b> de los lugares de<br>nuestro programa. Bienvenido.</p>
  <br><br>
  <ion-button color="transp" (click)="goToMain()" style=" --box-shadow: false;font-size: 12px; width: 20%; font-family: Titillium;
    --border-radius: 10px!important;">COMENZAR</ion-button>
<!--  la letra tambien es blanca x eso no se ve xd-->
</div>
