@font-face {
  font-family: "Titillium";
  src: url("src/assets/fonts/Titillium-Regular.otf");
}
ion-content{
  font-family: 'Titillium';
}
#container {
  text-align: center;

  position: absolute;
  left: 0;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}
.gradiente{
  //background: rgb(36,51,89)!important;
  height: 550px!important;
  background-image: linear-gradient(90deg, rgba(36,51,89,1) 0%, rgba(37,52,90,1) 40%, rgba(67,105,146,1) 100%)!important; /* Standard syntax (must be last) */

}

#container strong {
  font-size: 20px;
  line-height: 26px;
}

#container p {
  font-size: 16px;
  line-height: 22px;

  color: #8c8c8c;

  margin: 0;
}

#container a {
  text-decoration: none;
}

.datacol{
  border-bottom: 1px solid #0d0d0d;
  margin-left: 20px;
}

.labelcol{
  margin-left: 15px;
}

.videocol{
  margin-left: 75px;
}

.inner-scroll{
  padding-bottom: 0;
}

.fabicons{
  height: 70px; width: 70px; margin-top: 20px; --box-shadow: false
}
